<form [formGroup]="todoForm" (ngSubmit)="addTodo()">
  <input
    formControlName="name"
    class="form-control"
    type="text"
    placeholder="Please enter a todo name!"
  />
</form>
<br />

<div class="row">
  <div class="col-6">
    <ul class="list-group">
      <li
        [@todoItem1]
        *ngFor="let todo of todos"
        (click)="removeTodo(todo)"
        class="list-group-item"
      >
        {{ todo.name }}
      </li>
    </ul>
  </div>
  <div class="col-6">
    <ul class="list-group">
      <li
        [@todoItem2]
        *ngFor="let todo of todos"
        (click)="removeTodo(todo)"
        class="list-group-item"
      >
        {{ todo.name }}
      </li>
    </ul>
  </div>
</div>

<br />
