<h1>Contact</h1>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      id="email"
      formControlName="email"
      class="form-control"
      [ngClass]="{
        'is-valid': contactForm.get('email').valid,
        'is-invalid':
          !contactForm.get('email').valid && contactForm.get('email').touched
      }"
    />
  </div>

  <div formGroupName="info" class="alert alert-info">
    <h3>Info</h3>

    <div class="form-group">
      <label for="title">Title</label>
      <div class="input-group">
        <input
          id="title"
          formControlName="title"
          type="text"
          class="form-control"
          [ngClass]="{
            'is-valid': contactForm.get('info.title').valid,
            'is-invalid':
              !contactForm.get('info.title').valid &&
              contactForm.get('info.title').touched
          }"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="suggestTitle()"
          >
            Suggest
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea
        formControlName="message"
        class="form-control"
        id="message"
        [ngClass]="{
          'is-valid': contactForm.get('info.message').valid,
          'is-invalid':
            !contactForm.get('info.message').valid &&
            contactForm.get('info.message').touched
        }"
      ></textarea>
    </div>
  </div>

  <div formGroupName="issues" class="alert alert-info">
    <h3>Issues</h3>

    <div
      class="form-group"
      *ngFor="let issueControl of issuesFormArray.controls; let i = index"
    >
      <div class="form-group">
        <input
          [formControlName]="i"
          class="form-control"
          [ngClass]="{
            'is-valid': issueControl.valid,
            'is-invalid': !issueControl.valid && issueControl.touched
          }"
        />
      </div>
    </div>

    <button class="btn btn-small btn-primary" (click)="addIssue($event)">
      Add
    </button>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">
    Send
  </button>
</form>

<br /><br />
