<div class="container">
  <br />
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
        >Dashboard (canActivate)</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/parent" routerLinkActive="active"
        >Parent (canActivateChild)</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/leave" routerLinkActive="active"
        >Leave (canDeactivate)</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="authenticated ? onLogout() : onLogin()">
        {{ authenticated ? "Logout" : "Login" }}
      </a>
    </li>
  </ul>

  <br />
  <router-outlet></router-outlet>
</div>
