<div class="container">
  <br />
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/notes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Notes</a
      >
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active"
        >About</a
      >
    </li> -->
  </ul>

  <br />
  <router-outlet></router-outlet>

  <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Email address</label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        placeholder="Enter title"
      />
    </div>
    <div class="form-group">
      <label>Email address</label>
      <textarea
        formControlName="content"
        class="form-control"
        placeholder="Enter content"
      ></textarea>
    </div>

    <button class="btn btn-primary">Post</button>
  </form>

  <ul>
    <li *ngFor="let note of notes$ | async">{{ note.title }}</li>
  </ul>
</div>
